* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Nunito", sans-serif;
}

section {
    padding: 5em 0;
}

#particle-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: hidden;
    max-width: 100%;
}

#header {
    background-color: #181a27;
    background-image: url("./assets/images/bg-vector.svg");
    background-repeat: no-repeat;
    color: #fff;
    background-position: bottom 0px left 0px;
    position: relative;
    z-index: 2;
    section {
        padding: 7.5em 0;
    }
    h1 {
        font-size: 3.3rem;
        line-height: 3.75rem;
    }
    p {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    a.cta {
        text-decoration: none;
        color: #fff;
        padding: 0.75em 1em;
        font-weight: 600;
        border-radius: 0.25em;
        background-color: #f3a507;
        position: relative;
        z-index: 5;
        margin: 10px;
    }
}

@media (max-width: 767.98px) {
    #header {
        min-height: 85vh;
    }
}

#features {
    position: relative;
    position: 1;
    p.title {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

#about-us {
    background: #f4f7f6;
}

@media (max-width: 767.98px) {
    #about-us {
        .row {
            flex-direction: column-reverse;
        }
        .about-us-img {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }
    }
}

#why-us {
    // .why-us-img {
    //   margin-bottom: 1rem;
    // }
}

@media (max-width: 767.98px) {
    #why-us {
        .why-us-img {
            margin-bottom: 1rem;
        }
    }
}

#tokenomics {
    .wrap {
        background-color: #f4f7f6;
    }
    .progress-bar {
        background-color: #181a27;
    }
}

#roadmap {
    .timeline {
        position: relative;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 15px 0;
    }
    .timeline::after {
        content: "";
        position: absolute;
        width: 2px;
        background: #292d3d;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -1px;
    }
    .box {
        padding: 15px 30px;
        position: relative;
        background: inherit;
        width: 50%;
    }
    .box.left {
        left: 0;
    }
    .box.right {
        left: 50%;
    }
    .box::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        right: -8px;
        background: #ffffff;
        border: 2px solid #292d3d;
        border-radius: 16px;
        z-index: 1;
    }
    .box.right::after {
        left: -8px;
    }
    .box::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        top: calc(50% - 1px);
        right: 8px;
        background: #292d3d;
        z-index: 1;
    }
    .box.right::before {
        left: 8px;
    }
    .box .date {
        position: absolute;
        display: inline-block;
        top: calc(50% - 8px);
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #292d3d;
        text-transform: uppercase;
        letter-spacing: 1px;
        z-index: 1;
    }
    .box.left .date {
        right: -75px;
    }
    .box.right .date {
        left: -75px;
    }
    .box .icon {
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 9px 0;
        top: calc(50% - 20px);
        background: #f6d155;
        border: 2px solid #292d3d;
        border-radius: 40px;
        text-align: center;
        font-size: 18px;
        color: #292d3d;
        z-index: 1;
    }
    .box.left .icon {
        right: 56px;
    }
    .box.right .icon {
        left: 56px;
    }
    .box .content {
        padding: 30px 90px 30px 30px;
        background: #f6d155;
        position: relative;
        border-radius: 0 500px 500px 0;
    }
    .box.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
    }
    .box .content h3 {
        margin: 0 0 10px 0;
        font-size: 18px;
        font-weight: normal;
        color: #292d3d;
    }
    .box .content p {
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
}

@media (max-width: 767.98px) {
    #roadmap {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        .timeline::after {
            left: 90px;
        }
        .box {
            width: 100%;
            padding-left: 120px;
            padding-right: 30px;
        }
        .box.right {
            left: 0%;
        }
        .box.left::after,
        .box.right::after {
            left: 82px;
        }
        .box.left::before,
        .box.right::before {
            left: 100px;
            border-color: transparent #292d3d transparent transparent;
            width: 35px;
        }
        .box.left .date,
        .box.right .date {
            right: auto;
            left: 15px;
        }
        .box.left .icon,
        .box.right .icon {
            right: auto;
            left: 136px;
            width: 35px;
            height: 35px;
        }
        .box.left .content,
        .box.right .content {
            padding: 30px 0px 30px 65px;
            border-radius: 400px 0 0 400px;
        }
    }
}

#governance {
    //
}

@media (max-width: 767.98px) {
    #governance {
        .row {
            flex-direction: column-reverse;
        }
    }
}

#dex {
    background-color: #f4f7f6;
}

#footer {
    background-color: #181a27;
    background-image: url("./assets/images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 5em 0;
    background-blend-mode: difference;
    a {
        text-decoration: none;
        color: #fff;
    }
}

@media (max-width: 767.98px) {
    #footer {
        .socials {
            flex-direction: column;
            .top {
                margin-bottom: 0.6rem;
            }
            .bottom {
                justify-content: center;
            }
        }
    }
}